# CONFIG_PA_SD_DISABLED is not set
# CONFIG_PA_SD_SDMMC is not set
CONFIG_PA_SD_SDSPI=y
CONFIG_PA_SDSPI_HOST_SPI2=y
CONFIG_PA_SDSPI_MOSI_PIN=13
CONFIG_PA_SDSPI_MISO_PIN=12
CONFIG_PA_SDSPI_CLK_PIN=14
CONFIG_PA_SDSPI_CS_PIN=15
