CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=256
CONFIG_PA_HTTP_MAX_URI_HANDLERS=36
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y
CONFIG_ESP_WIFI_SOFTAP_SAE_SUPPORT=y
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=16
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=16
CONFIG_ESP_WIFI_MGMT_SBUF_NUM=16
CONFIG_PA_HTTP_MAX_OPEN_SOCKETS=7
CONFIG_PA_WS_MAX_CONNECTIONS=8
CONFIG_PA_WS_OUTBOUND_QUEUE_LENGTH=4
CONFIG_PA_GAME_MAX_SNAPSHOT_RATE_HZ=10
CONFIG_PA_GAME_LUA_CALLBACK_TIMEOUT_MS=50
CONFIG_MBEDTLS_MD_C=y
CONFIG_MBEDTLS_BASE64_C=y
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_MAX_LFN=64
CONFIG_FATFS_FS_LOCK=4
CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_RUN_TIME_COUNTER_TYPE_U32=y
CONFIG_PA_SD_DISABLED=y
